@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

html, body{
  margin: 0;
  padding: 0;
  background-color:#DFDFDF;
  font-family: 'Lato', sans-serif;
}

.App-main{
  height: 80vh;
  padding: 10vh 0;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100px 1fr;
  gap: 10px
}

.player-name{
  background-color: #454545;
  border-radius:10px;
}

.player-name, .dados{
  font-family: 'Inter', sans-serif;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.dados{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 10px;
}

.dados div{
  background-color: #454545;
  border-radius:10px;
}

.saldo-moedas{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

.saldo-moedas img{
  width: 40px;
  height: 40px;
}

.mais-roducoins{
  background-color:#FF013E !important;
}

.mais-roducoins button{
  border: none;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  padding: 0 30px;
  height: 100%;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.tela-ranking button{
  border: none;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
}

.tela-ranking button svg{
  width: 40px;
  height: 40px;
  padding: 20px;
  fill: white;
}

.botao-logout button{
  border: none;
  background-color: rgb(255, 0, 34);
  height: 100%;
  cursor: pointer;
}

.botao-logout button svg{
  width: 40px;
  height: 40px;
  padding: 20px;
  fill: white;
}

.jogos{
  background-color: #EEEEEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.jogos button{    
  width: 100%;
  background-color: #454545;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.em-breve{
  cursor: not-allowed !important;
  background-color: #b7b7b7 !important;
}

.jogo-atual{
  background-color: #EEEEEE;
  border-radius: 10px;
}

.ranking-container{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.anuncio-ranking{
  margin-top: 10px;
  margin-right: 10px;
}

.anuncio-ranking iframe{
  width: 200px;
  height: 100%;
  border: 0;
}

.ranking{
  flex-grow: 1;
  padding: 20px;
}

.ranking h2{
  background-color:#FF013E;
  color: white;
  padding: 20px;
  margin: 0;
  text-align: left;
}

.tabela-jogadores{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.tabela-jogadores th{
  background-color: black;
  color: white;
  padding-left: 20px;
}

.tabela-jogadores td{
  padding-left: 20px;
}

tr:nth-child(even) {background-color: #dddddd;}

.tabela-jogadores tr{
  line-height: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error-message{
  color: red;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-card {
  width: 400px;
  height: 80%;
  max-height: 800px;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 200px;
  height: 200px;
  padding: 30px 0;
}

.login-input,
.login-button {
  box-sizing: border-box;
}

.login-input {
  margin: 10px 0;
  padding: 12px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

.login-button {
  margin-top: 20px;
  padding: 12px 0;
  background-color: #ffa200;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}

.login-button:hover {
  background-color: #ff9100;
}


.login-button:disabled, .jogar-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-register {
  margin-top: 20px;
}

.login-register a {
  color: #ffa200;
  text-decoration: none;
}

.login-register a:hover {
  color: #ff9100;
}

/* Classe para a linha principal */
.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Classe para a primeira linha com altura de 100px */
.top-row {
  height: 100px;
}

/* Classe para a primeira coluna da primeira linha (30% da largura) */
.top-row .col1 {
  width: 30%;
  background-color:#454545;
}

.top-row .col1 img{
  max-width: 80%;
}

/* Classe para a segunda coluna da primeira linha (70% da largura) */
.top-row .col2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Classe para a segunda linha que ocupa o resto do espaço */
.bottom-row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* Classe para a primeira coluna da segunda linha (lista de jogos) */
.bottom-row .col1 {
  width: 30%;
  padding: 20px;
}

/* Classe para a segunda coluna da segunda linha (jogo selecionado) */
.bottom-row .col2 {
  width: 70%;
  padding: 20px;
}

.coin-options {
  display: flex;
  justify-content: start;
  gap: 10px;
  height: 80px;
}

.cara-coroa p{
  text-align: left;
  margin: 30px 0 0 0;
  font-weight: bold;
  color: #333;
}

.coin-option {
  cursor: pointer;
  position: relative;
}

.coin-selection{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px 0;
}

.coin-option.selected {
  /* Estilização para a opção selecionada, se desejar */
}

.coin {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px 0;
  position: relative;
  transform-style: preserve-3d;
}

.coin.cara {
  background-color: orange;
}

.coin.coroa {
  background-color: darkgray;
}

.valor-aposta{
  border: none;
  border-radius: 5px;
  padding: 20px;
  background: #d8d8d8;
  font-size: 30px;
  color: #5b5b5b;
  font-weight: bold;
  margin-top: 60px;
  box-sizing: border-box;
  width: 100%;
}

.jogar-button{
  background-color: #FF013E;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}

.cara-coroa-container{
  display: flex;
}

.dados-cara-coroa{
  flex: 1;
}

.resultado-cara-coroa{
  flex: 1;
}

.checkmark {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: green;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.checkmark::before {
  content: "✔";
  font-size: 20px;
}

.coin-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  backface-visibility: hidden;
}

.cara {
  background-color: orange;
  transform: rotateY(0deg);
}

.coroa {
  background-color: darkgray;
  transform: rotateY(180deg);
}

.resultado-mensagem{
  margin: 10px;
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.spinning {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
